target/
!.mvn/wrapper/maven-wrapper.jar

# Maven
.mvn/
mvnw
mvnw.cmd

# Intellij
.idea
*.iws
*.iml
*.ipr

#Develop branch:

/backend/src/main/resources/application.properties
/frontend/src/main/frontend/package.json
/frontend/src/main/frontend/proxy.conf.json
/backend/src/main/java/gardncl/whobrokeitlast/CorsConfig.java
