target/
!.mvn/wrapper/maven-wrapper.jar

# Maven
.mvn/
mvnw
mvnw.cmd

# Intellij
.idea
*.iws
*.iml
*.ipr

backend/src/main/java/gardncl/whobrokeitlast/CorsConfig.java
frontend/src/main/frontend/proxy.conf.json
