backend/src/main/java/gardncl/whobrokeitlast/CorsConfig.java binary
backend/src/main/resources/application.properties binary
frontend/src/main/frontend/package.json binary
frontend/src/main/frontend/proxy.conf.json binary