target/
!.mvn/wrapper/maven-wrapper.jar

# Maven
.mvn/
mvnw
mvnw.cmd

# Intellij
.idea
*.iws
*.iml
*.ipr

# Generated code
/frontend/src/main/frontend/node_modules
/frontend/src/main/frontend/node
LICENSE